
<html>
  <head>
    <link rel="stylesheet" href="style">
    <meta charset="utf-8" />
    <title>goMirror</title>
  </head>
  <body bgcolor="#000000">
    <div>
    <button id="start">Start</button>
    <button id="end">Stop</button>
    <input
      type="checkbox"
      id="capturekey"
      name="capturekey"
      value="capturekey"
    />
    <label for="capturekey">Capture Keyboard</label>
    <input type="checkbox" id="queuekey" name="queuekey" value="queuekey" />
    <label for="queuekey">Queue Keyboard</label>
    <button id="send">Send Queue</button>
    <input
      type="checkbox"
      id="mobilemode"
      name="mobilemode"
      value="mobilemode"
    />
    <label for="mobilemode">Mobile Mode</label>
    <input
      type="text"
      id="textbox"
    />
    <label for="textbox">Send Text</label>
    <br />
    </div>
    <div id="screencontainer" style="top:40;left 0;">
      <img src="" id="screen" />
    </div>
  </body>
  <script src="script"></script>
</html>

