
<html>
  <head>
    <link rel="stylesheet" href="style">
    <meta charset="utf-8" />
    <title>goMirror</title>
  </head>
  <body bgcolor="#000000">
    <button id="start">Start</button>
    <button id="end">Stop</button>
    <input
      type="checkbox"
      id="capturekey"
      name="capturekey"
      value="capturekey"
    />
    <label for="capturekey">Capture Keyboard</label>
    <input type="checkbox" id="queuekey" name="queuekey" value="queuekey" />
    <label for="queuekey">Queue Keyboard</label>
    <button id="send">Send Queue</button>
    <br />
    <img src="" id="screen" />
  </body>
  <script src="script"></script>
</html>

